:host {
  display: block;
  width: 300px;
  min-height: 180px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
}

:host:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

mat-card-header {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  overflow: hidden !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-title {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: #333;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 250px !important;
  display: block !important;
}

mat-card-content {
  padding: 16px;
  flex-grow: 1;
}

.board-description {
  color: #555;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  line-height: 1.4em !important;
  max-height: 4.2em !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

mat-card-actions {
  padding: 16px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
}

.favorite-active {
  color: #f5b301;
}