/Back-end/FakeTrello/obj
/Front-end/FakeTrello/node_modules
/Back-end/FakeTrello/bin
/Front-end/FakeTrello/.vscode
/Back-end/.vs
/Front-end/FakeTrello/.angular
/Back-end/FakeTrello.Tests/bin
/Back-end/FakeTrello.Tests/obj

/Back-end/FakeTrello/publish
/Back-end/FakeTrello/**/publish
/Back-end/FakeTrello/**/*.dll
/Back-end/FakeTrello/**/*.pdb

/Front-end/FakeTrello/dist
Back-end/FakeTrello/appsettings.json
Back-end/FakeTrello/appsettings.Development.json

