/Back-end/FakeTrello/obj
/Front-end/FakeTrello/node_modules
/Back-end/FakeTrello/bin
/Front-end/FakeTrello/.vscode
/Back-end/.vs
/Front-end/FakeTrello/.angular

/Back-end/FakeTrello/publish
/Back-end/FakeTrello/**/publish
/Back-end/FakeTrello/**/*.dll
/Back-end/FakeTrello/**/*.pdb
/Back-end/FakeTrello/Migrations

/Front-end/FakeTrello/dist

**/.dockerignore
Back-end/FakeTrello/appsettings.Development.json

