/Back-end/Pivot/obj
/Front-end/Pivot/node_modules
/Back-end/Pivot/bin
/Front-end/Pivot/.vscode
/Front-end/Pivot/.angular
/Back-end/Pivot.Tests/bin
/Back-end/Pivot.Tests/obj
/Back-end/.vs

/Back-end/Pivot/publish
/Back-end/Pivot/**/publish
/Back-end/Pivot/**/*.dll
/Back-end/Pivot/**/*.pdb

/Front-end/Pivot/dist
Back-end/Pivot/appsettings.json
Back-end/Pivot/appsettings.Development.json

