<mat-card class="app-card" (click)="openCardDetails($event)">
  <mat-card-header>
    @if (!showUpdateCardForm){
      <mat-card-title> {{ card.name }} </mat-card-title>
    }
    @else {
      <form [formGroup]="updateCardForm" (ngSubmit)="updateCard()" class="update-card-form">
        <mat-form-field appearance="outline" class="full-width">
          <input required matInput
                 type="text"
                 placeholder="Enter card title..."
                 formControlName="name"
                 (keyup.enter)="updateCard()">
          @if(updateCardForm.get('name')?.errors?.['required'] && updateCardForm.get('name')?.touched) {
            <mat-error>Name is required!</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <textarea matInput
                    placeholder="Enter description..."
                    formControlName="description">
          </textarea>
        </mat-form-field>
        <div class="form-actions">
          <button mat-flat-button
                  color="primary"
                  [disabled]="!updateCardForm.valid"
                  (click)="updateCard()">Update</button>
          <mat-icon class="close-icon" (click)="closeUpdateCardForm()">close</mat-icon>
        </div>
      </form>
    }
  </mat-card-header>
  @if(card.description && !showUpdateCardForm) {
    <mat-card-content>
      <p>{{ card.description }}</p>
    </mat-card-content>
  }
  <mat-card-footer class="card-footer">
    Assigned to:
    @if (card.assignedUserUsernames?.length) {
      {{ (card.assignedUserUsernames || []).join(', ') }}
    } @else {
      Unassigned
    }
  </mat-card-footer>
</mat-card>